{% extends 'base.html' %}
{% load static %}
{% block title %}{{current_playlist_name}}{% endblock title %}
{% block body %}
<div class="container-fluid pt-5 m-0" style="min-height: 100vh;">
    <div class="container-fluid pt-5 m-0">
        <div class="d-flex flex-wrap video-container">
            <div class="col">
                <iframe src="{{video_details.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="yt-video" allowfullscreen></iframe>
            </div>
            <div class="col-4 border p-3 ms-2 playlist">
                <h1 class="text-center fs-4 fw-bold">{{current_playlist_name}}</h1>
                <div class="box py-3" style="overflow-y: scroll; overflow-x: hidden; height: 70vh; background: #f1f1f1;">
                    {% for v in vid %}
                        <a href="/courses/{{playlist_slug}}/{{v.slug}}/" class="video_list_card m-3 d-flex fw-semi-bold text-decoration-none video-card-shadow rounded-3 overflow-hidden card-hover justify-content-center align-items-center">
                            <h2 class="p-3 m-3 video_names" style="font-size: 20px; color: #000;">{{v.video_name}}</h2>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 m-0 px-3 mt-3">
        <div class="container-fluid p-0">
            <button class="btn o-btn border-bottom btn-videos">Overview</button>
            <button class="btn q-btn border-bottom">Comments</button>
        </div>
        <hr class="m-0 p-0 mb-3">
        <div class="container-box container" style="min-height: 50vh;">
            <div class="text overview px-3">
                <p>{{video_details.overview|safe}}</p>
            </div>
            <div class="q-a px-3 container pb-5" style="display: none; min-height:70vh;">
                <h2 class="fw-bold">Comments({{allComments|length}})</h2>
                {% if request.user.is_authenticated %}
                    <form action="/courses/{{playlist_slug}}/{{video_details.slug}}/" method="POST" class="d-flex">
                    {% csrf_token %}
                        <input class="form-control rounded-0" type="text" id="comment_text" name="comment_text" placeholder="Plaese Give Your Views Here !">
                        <button class="btn btn-primary rounded-0" type="submit"><i class="bi bi-arrow-right"></i></button>
                    </form>
                {% endif %}
                {% if allComments %}
                {% for comment in allComments %}
                    <div class="mt-4 border form-control">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="fs-1 px-2"><i class="bi bi-person-circle"></i></div>
                            <p class="m-0 p-0 text-primary fw-semi-bold">{{comment.user.username}}<span class="username" style="display:none;">{{comment.user.id}}</span><span class="ms-1" style="font-size:12px; color:gray;">{{comment.date_time}}</span></p>
                        </div>
                        <h6 class="mt-2">{{comment.text}}</h6>
                        <div class="text-end"><i class="bi bi-reply-fill fs-4" id="reply-btn{{forloop.counter}}" style="cursor: pointer;" onClick="reply_click(this.id)"></i></div>
                    </div>
                    <div class="m-3 mx-5 replyBox reply-btn{{forloop.counter}}" style="width:96%; display:none;">
                        {% if request.user.is_authenticated %}
                            <form action="/courses/{{playlist_slug}}/{{video_details.slug}}/" method="POST" class="d-flex">
                            {% csrf_token %}
                                <input class="form-control rounded-0" type="text" id="reply_text" name="reply_text" placeholder="Plaese Give Your Views Here !">
                                <input class="form-control rounded-0" style="display: none;" type="text" id="replied_to" value="" name="replied_to">
                                <button class="btn btn-primary rounded-0" type="submit"><i class="bi bi-arrow-right"></i></button>
                            </form>
                            {% if allReplies %}
                                {% for reply in allReplies %}
                                    {% if comment.user|slugify == reply.replied_to|slugify %}
                                    <div class="mt-4 border form-control">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="fs-1 px-2"><i class="bi bi-person-circle"></i></div>
                                            <p class="m-0 p-0 text-primary fw-semi-bold">{{reply.user.username}}</p>
                                        </div>
                                        <h6 class="mt-2">{{reply.text}}</h6>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <h6 class="my-4">No Replies yet...</h6>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                {% else %}
                    <h5 class="my-4">Be The First to Comment...</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <script>
        const overview = document.querySelector('.overview');
        const qA = document.querySelector('.q-a');
        const oBtn = document.querySelector('.o-btn');
        const qBtn = document.querySelector('.q-btn');
        oBtn.addEventListener('click', ()=>{
            qA.style.display = "none";
            overview.style.display = "block";
            oBtn.classList.add("btn-videos");
            qBtn.classList.remove("btn-videos");
        });
        qBtn.addEventListener('click', ()=>{
            qA.style.display = "block";
            overview.style.display = "none";
            oBtn.classList.remove("btn-videos");
            qBtn.classList.add("btn-videos");
        });
        
         function reply_click(clicked_id)
        {
            const boxReply = document.querySelectorAll(".replyBox");
            const username = document.querySelector(".username");
            boxReply.forEach(element => {
                if (clicked_id == element.classList[3]){
                    if (element.style.display == "none"){
                        element.style.display = "block";
                        const user = username.innerText;
                        repliedTo = element.children[0].children[2]
                        repliedTo.value = user
                        console.log(repliedTo.value);
                    }else{
                        element.style.display = "none";
                    }
                }

            });
        }
    </script>
{% endblock body %}